.address-confirm-paper {
    padding: 1rem 2rem;
    .address-confirm-heading {
        font-size: 1.5rem;
        @media screen and (max-width: 425px) {
            font-size: 1.1rem
        }
    }
    .typography {
        margin: .8rem 0;
        &:not(:nth-child(1)) {
            margin: 1rem 0;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.order-confirm-paper {
    padding: 1rem 2rem;
    .order-confirm-heading {
        font-size: 1.5rem;
        @media screen and (max-width: 425px) {
            font-size: 1.1rem
        }
    }
}

.order-list-paper {
    padding: 1rem 2rem;
    .order-list-heading {
        font-size: 1.5rem;
        @media screen and (max-width: 425px) {
            font-size: 1.1rem
        }
    }
}